<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esempio Layout</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>

    <!-- I menu di navigazione è sempre bene farli utilizzando le liste, in modo che anche se il sito ha problemi di visualizzazione il menù verrà comunque visualizzato ordinatamente in una lista
    
    Utilizzare Emmet per abbreviazioni così da risparmiare tempo https://docs.emmet.io/abbreviations/ -->


        <div class="container">
            <header>
                <nav id="mainMenu">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Servizi</a></li>
                        <li><a href="">News</a></li>
                        <li><a href="">Contatti</a></li>
                        <li><a href="">Chi Siamo</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <h1>Titolone<br>

                <!-- <span> viene utilizzato come contenitore generico per impaginare testo -->
                <span class="titleIntro">Breve descrizione</span></h1>
                <p>Lorem ipsum dolor sit, <strong>amet consectetur adipisicing elit</strong>. Molestias voluptatibus facere
                    perspiciatis, optio dolor possimus corporis iste sapiente distinctio ipsam! Quas quidem vero veniam nulla,
                    maxime perferendis quia quis aperiam id dolorem repellendus ratione quam, molestiae corporis quos aspernatur
                    nam numquam adipisci deserunt? Molestias dolorem modi laborum id et officiis.</p>
                <p><em>Harum consequunture</em> quo natus assumenda ut corrupti nesciunt rerum itaque fugit sapiente, dicta illo
                    omnis, enim quisquam fugiat ex et temporibus inventore amet doloremque voluptates quibusdam molestiae
                    ducimus sit? Consequuntur, id aperiam totam, reiciendis maxime officiis eos architecto mollitia incidunt
                    minus at, repellat quidem? Nisi qui facere ratione quam a.</p>
                <p>Ipsam, sequi quisquam tenetur quas veniam et facere accusantium architecto sed perspiciatis sunt ipsum.
                    Dolorem possimus doloremque iusto ex unde natus excepturi vero perferendis facilis dolores, commodi optio
                    nisi id minus ipsa laborum adipisci repellendus nihil et repellat quasi sapiente ab! Enim totam nesciunt
                    praesentium itaque hic quidem at ratione?</p>
                <p>Dolores similique molestias, necessitatibus quidem rerum quo in recusandae excepturi veritatis ex dolorem
                    iure quam praesentium, nulla totam consequatur sint culpa ipsam nisi ipsa eveniet a voluptatibus mollitia
                    officiis! Perspiciatis excepturi, et obcaecati porro enim blanditiis, ducimus dolores labore recusandae,
                    distinctio corrupti cupiditate qui cum ab unde sit!</p>
              

              <div class="box">
              
              
                    Similique <strong>laudantium</strong> ab nulla possimus aspernatur est hic necessitatibus aliquam ea minima! Modi quos
                    consequuntur voluptate, saepe rerum harum doloremque. Cumque est corrupti dolor corporis, esse
                    assumenda enim, ex tempore dolorem nemo debitis voluptates odio sit nesciunt ullam sunt aspernatur similique
                    aut. <strong><a href="#mainMenu">Accusantium, neque exercitationem</a></strong>. Eius nihil quo necessitatibus.
                </div>


        <!-- <aside> viene usato per aggiungere un box o menu laterale ad un articolo, dove poter mettere informazioni correlate ma comunque separate dall'articolo stesso -->

                <article>
                    <h1>Titolo articolo</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolor pariatur quaerat necessitatibus illo. 
                        
                        <aside>
                        <h3>Informazioni correlate</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque quaerat rem quas tempora earum odio alias perspiciatis rerum explicabo, at nam minus accusantium ullam nulla consequuntur pariatur asperiores suscipit?</p>

                        </aside>
                    
                    rerum deserunt, reprehenderit consequuntur optio eligendi! Officiis, autem repellendus odio blanditiis illo libero distinctio consectetur est illum molestiae ad accusamus et, excepturi quam? Itaque dolore, autem at ipsa aspernatur labore voluptates, ex libero eveniet, debitis dignissimos.</p>
                    
                </article>

    <!-- https://unsplash.com/ o https://placekitten.com per immagini placeholder-->

                <img src="https://source.unsplash.com/600x400/?Firenze+Sunset" alt="Descrizione">
                <img src="http://placekitten.com/600/400" alt="gattino">

            </main>
            
            <footer id="mainFooter">
                <p>Corso Web di <a href="">Immaginazioneelavoro</a> © | 2022 | CONTATTI | INFO | CREDITS</p>
                <p>Bla bla bla blablabla</p>
            </footer>
        </div>



</body>

</html>